<div class="container">
<h2>ログイン</h2>
<div class="row justify-content-center">
  <div class="col-8">
   <h4>
     <span style="background: linear-gradient(transparent 50%, #ffcccc 0%);">会員の方はこちらからログイン</span>
   </h4>
   <br>
  </div>
</div>

<form>
<%= form_for(resource, as: resource_name, url: customer_session_path(resource_name)) do |f| %>
  <div class="form-group row justify-content-center">
    <div class="col-6">
      <div class="row mx-auto">
        <div class="col-sm-4">
          <%= f.label "メールアドレス" %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-6">
      <div class="row mx-auto">
        <div class="col-sm-4">
          <%= f.label "パスワード" %>
        </div>
        <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        <br>
        <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</form>

<div class="row justify-content-center">
  <div class="col-8">
    <h4>
      <span style="background: linear-gradient(transparent 50%, #ffcccc 0%);">会員登録がお済みでない方</span>
    </h4>
    <br>
    <p class="text-center">
      <%= link_to "こちら", "/customers/sign_up" %>から新規登録を行ってください。
    </p>
  </div>
</div>

</div>
