<div class="container">
  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col-8">
      <h7>注文情報</h7>
      <table class="table table-bordered">
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %><br>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment %></td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <h7>請求情報</h7>
      <table class="table table-bordered">
        <tr>
          <th>商品合計</th>
          <td>
            <% @order.order_items.each do |order_item| %>
              <% @total += order_item.subtotal %>
            <% end %>
            <%= @total %>
          </td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td><%= @order.billing_amount %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h7>注文内容</h7>
    <table class="table table-bordered">
      <thead>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </thead>
      <% @order.order_items.each do |order_item| %>
      <tbody>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.with_tax_price %></td>
        <td><%= order_item.amount %></td>
        <td><%= order_item.subtotal %></td>
      </tbody>
      <% end %>
    </table>
  </div>
</div>