<div class="container">
  <h2>商品一覧(全<%= @items.count %>件)</h2>

  <div class="row">
    <% @items.each do |item|  %>
    <% if item.is_active == true %>
    <div class="col-sm-3">
      <div class="card border-0" style="width: 100%;">
        <%= link_to item_path(item.id) do %>
          <%= attachment_image_tag item, :image, :fill, 210, 140 %>
        <% end %>
        <div class ="card-body">
        <h7 class="card-title"><%= item.name %></h7>
        <p class="card-text"><%= number_to_currency(item.price, unit: "¥",strip_insignificant_zeros: true) %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @items %>
  </div>
</div>