<div class="container">
  <div class="row">
    <div class="col-3">
      <%= attachment_image_tag @item, :image, :fill, 200, 150 %>
    </div>
    <div class="col-9">
      <h4><%= @item.name %></h4>
      <p><%= @item.introduction %></p>
      <p><%= @tax_in_price.round %>(税込)</p>
    </div>
  </div>
  <div class="row">
    <%= form_with model: @cart_items, url: cart_items_path, local:true do |f| %>
    <%= f.select :amount, *[1..10], prompt: "個数選択" %>
    <%= f.submit 'カートに入れる', class:"btn-success" %>
    <%= f.hidden_field :, value: "楽しいRuby" %>
    <% end %>
  </div>

</div>